@import 'variables';

.home-page {
  background: $background-color;
  padding: 2rem;
}
.home h1 {
  font-size: 50px;
  color: $secondary-color;
}

.navbar {
  $background-color: rgb(212, 204, 233);
}

.home h1 {
  font-size: 50px;
}

