<!-- app/views/products/index.html.erb -->
<h1>Bookings</h1>

<% @products.each do |product| %>
  <div class="product">
    <h2><%= link_to product.title, product %></h2>
    <p><%= product.description %></p>
    <p><%= number_to_currency(product.price) %></p>
  </div>
<% end %>
